/*********************************************
* Variables *
*********************************************/
:root {
  --orange-title-color: rgba(253, 126, 20, 0.1);
  --orange-border-color: #fd7e14;
  --note-title-color: rgba(68,138,255,.1);
  --note-border-color: #659fdc;
  --warning-title-color: rgba(220,53,69,.1);
  --warning-border-color: #dc3545;
  --hint-title-color: rgba(255,193,7,.2);
  --hint-border-color: #ffc107;
  --caution-title-color: rgba(253,126,20,.1);
  --caution-border-color: #fd7e14;
  --grey-title-color: rgba(204,204,204,.2);
  --grey-border-color: #ccc;
  --example-title-color: rgba(235, 247, 236, 1);
  --example-border-color: #29A745;
  --exercise-title-color: rgba(253, 126, 20, 0.3);
  --exercise-border-color: #fd7e14;   
}

/*********************************************
* Main body *
*********************************************/


/*********************************************
* theorem *
*********************************************/
div.theorem {
  background-color: transparent;
}

/*********************************************
* definition *
*********************************************/
div.definition {
  background-color: transparent;
}

/*********************************************
* remark *
*********************************************/
div.remark {
  background-color: transparent;
}

/*********************************************
* exercise *
*********************************************/
div.exercise {
    border-color: var(--exercise-border-color);
    background-color: transparent;
}

div.exercise p.admonition-title {
    background-color: var(--exercise-title-color);
}
